body{
    background-color: #F2E6D8;
    display: flex;
    flex-direction: row;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

h1{
    color: white;
}

.titulo{
    text-align: center;
    background-color: #273a42;
    flex-basis: 100%;
    flex-grow: 1;
}

.contenido{
    align-content: center;
    flex-basis: 45%;
    flex-grow: 1;
}

#seccion1{
    background-color: #5D98A6;
    border: solid;
    border-color: #273a42;
    color: #273a42;
    border-radius: 15px;
}

#seccion2{
    background-color: #ADD4D9;
    border: solid;
    border-color: #323f41;
    color: #323f41;
    border-radius: 15px;
}

#seccion3{
    background-color: #D9C9BA;
    border: solid;
    border-color: #423d38;
    color: #423d38;
    border-radius: 15px;
}

